h1 {
  color: #EC368D;
  text-decoration: dotted overline underline 10px;
 letter-spacing: 3px;
  word-spacing: 6px;
  text-shadow: 2px 2px 5px #CA61C3;
  font-family: cursive;
}

body {
  background-color: #FFD6C0;
  
}

img:hover {
  width: 20%;
  border: purple dashed 6px;
  border-radius: 20%;
}

h1:hover {
  text-decoration: dashed;
}
 nav {
  list-style-type: none;
  width: 100%;
  background-color: powderblue;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  color: white;
  text-decoration: none;
  display: block;
  float: left;
  padding: 15px 50px;
  font-family: "Lucida Console", "Courier New", monospace;
}

li a:hover {
  background-color: lightpink;
  color: black;
  font-style: italic;
  text-decoration: underline;
} 
