body {
h1 {
  color: #EC368D;
  text-decoration: dotted overline underline 10px;
 letter-spacing: 3px;
  word-spacing: 6px;
  text-shadow: 2px 2px 5px #CA61C3;
  font-family: cursive;
}

body {
  background-color: #FFD6C0;
  
}

img:hover {
  width: 20%;
  border: purple dashed 6px;
  border-radius: 20%;
}

h1:hover {
  text-decoration: dashed;
}
  
}
